* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: white;
    height: 80px;
    align-items: center;
}

hr {
    background-color: lightgrey;
    height: 2px;
    border: 0;
    width: 95%;
}

.agroup {
    display: flex;
    padding: 40px 0px;
}

.maingroup{
    background-color: #E2E2E2;
    /* padding: 40px 70px; */
}

.flexgroup {
    display: flex;
}

.mainfooter {
    display: flex;
    /* border: 1px solid; */
    padding: 30px 70px;
}


.optgroup {
    display: flex;
    justify-content: space-around;
    width: 70%;
    /* border: 1px solid; */
}

.option {
    list-style: none;
}

.option li {
    margin-top: 15px;
}

li a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

li a:hover {
    text-decoration: underline;
    color: black;
}

.regist {
    /* width: 20%; */
    margin-left: 70px;
    /* border: 1px solid; */
}

.ment {
    font-size: 14px;
    color: grey;
}

.detail {
    font-size: 14px;
}

.rbutton {
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
}

.cbutton {
    padding: 10px 15px;
    border-width: 1px;
    border-radius: 50px;
}

address {
    width: 50%;
    /* border: 1px solid; */
}
nav {
    width: 50%;
    /* border: 1px solid; */
    justify-content: flex-end;
}
.foot {
    display: flex;
    padding: 30px 70px;
    /* border: 1px solid; */
}

address {
    font-size: 12px;
    color: gray;
}

.set {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

.set a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.set a:hover {
    text-decoration: underline;
}

.fa-solid {
    margin-right: 5px;
    font-size: 16px;
}

.fa-facebook {
    /* border: 1px solid; */
    font-size: 25px;
    margin-right: 30px;
}

.fa-github {
    font-size: 25px;
    margin-right: 30px;
}
.icon {
    display: flex;
    /* border: 1px solid; */
    width: 30%;
}

.country {
    width: 100%;
    display: flex;
    justify-content: end;
    
}